.user-info {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.user-info.animate {
  transform: translateX(30px);
}

.user-info.animate_mobile {
  transform: scale(0.5) translateY(-50px);
}

.ranking {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.ranking.show {
  opacity: 1;
}
