.mainChatBox {
  background-color: black;
  display: flex;
  background-color: whitesmoke;
}

.chatPageMain {
  min-height: 80vh;
  max-width: calc(100vw - 300px);
  margin: 20px 20px;
  flex-grow: 1;
  box-shadow: inset -3px -3px 1px white, inset 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: gray;
}

@media screen and (max-width: 850px) {
  .mainChatBox {
    flex-direction: column;
  }
  .chatPageMain {
    background-color: black;
    max-width: 100vw;
  }
}
