.alarm_Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  border-radius: 5px;
  border-bottom: 0.5px solid rgb(215, 210, 210);
  box-shadow: -2px -2px 4px white, 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.alarm_Box:hover {
  background-color: #8092ad;
  color: white;
}

.alarm_Box.comment:hover {
  background-color: pink;
  color: white;
}

.alarmItem {
  width: 100%;
  color: black;
  font-family: "Roboto Condensed", monospace;
}

.alarmItem .alarm_content {
  font-size: 20px;
  font-weight: bold;
  color: skyblue;
}

.alarmItem .alarm_message {
  font-size: 15px;
}
