.Clock {
  position: relative;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background: url("../img/clock.png");
  background-size: cover;
  border: 3px solid whitesmoke 0.3;
  box-shadow: -8px -8px 16px white, 8px 8px 16px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  margin: auto;
  padding: auto;
}

.point {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hourHand {
  position: absolute;
  background-color: gray;
  width: 7px;
  border-radius: 6px;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.minHand {
  position: absolute;
  background-color: gray;
  width: 5px;
  border-radius: 6px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.secHand {
  position: absolute;
  background-color: gray;
  width: 3px;
  border-radius: 6px;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
