body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 1, 33);
  min-height: 100vh;
}

.Clock {
  position: relative;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  background: url(../img/clock.png);
  background-size: cover;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: auto;
}

.point {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hourHand {
  position: absolute;
  background-color: blue;
  width: 7px;
  border-radius: 6px;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.6;
}

.minHand {
  position: absolute;
  background-color: red;
  width: 5px;
  border-radius: 6px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.7;
}

.secHand {
  position: absolute;
  background-color: white;
  width: 3px;
  border-radius: 6px;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.7;
}