.pinInput {
  text-align: center;
  width: 60px;
  height: 80px;
  border: none;
  font-size: 50px;
  color: gray;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: inset -5px -5px 10px white, inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.pinInput::after {
  content: "";
  width: 50px;
  height: 5px;
  color: gray;
  z-index: 10;
}

.pinInput:focus {
  outline: none;
}
